@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Work+Sans:wght@100&display=swap');
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
:root{
    --background: #000;
    --green:#1ed760;
}
header{
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    background-color:var(--background);
    padding: 1.3rem;
}
.container{
    margin: 0 auto;
    width: 72rem;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.logo-field{
    width: 13%;
    display: flex;
    justify-content: space-around;
}
.logo img{
    width: 2.4rem;
}
.logo-text{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}
.logo-text span:nth-child(2){
    font-size: 0.5rem;
}
.list-field ul li{
    display: inline-block;
    padding-left: 38px;
    margin-top: 12px;
    color: #fff;
    font-weight: 700;
}
.list-field ul li a{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.list-field ul li a:hover{
    color: var(--green)
}
section{
    width: 100%;
    height: auto;
    background-color: rgb(41, 65, 171);
}
#content-section{
    height: 100vh;
}
.content{
    width: auto;
    margin: 0 auto;
    position: relative;
    top: 3.4rem;
    padding: 8rem 0 0 0;
}
.contect-title{
    margin: 0 auto;
    width: 725px;
    font-weight: 800;
    color: var(--green);
    font-size: 104px;
    text-align: center;   
    letter-spacing: -0.04em !important;
    line-height: 150px;
    padding-bottom: 24px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
.contect-text{
    text-align: center;
    font-size: 18px;
    color: var(--green);line-height: 100px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
.contect-btn{
    text-align: center;
}
.contect-btn button{
    background-color:var(--green);
    padding: 1rem;
    border-radius: 500px;
    outline: none;
    overflow: hidden;
    border: none;
    color: #2941AB;
    font-weight: 600;
    cursor: pointer;
}